
<h2 style="text-align: center;"><b>PRIVACY POLICY</b></h2>
<p>Effective date: 2021-01-07</p>
<p>1. <b>Introduction</b></p>
<p>Welcome to <b> FindChim</b>.</p>
<p><b>FindChim</b> is operated by <b>webdynobhutan.com</b>
<p>2. <b>Definitions</b></p>
<p><b>SERVICE</b> FindChim is operated by Webdyno-Bhutan.</p>
<p><b>WHAT PERSONAL DATA WE COLLECT?</b><br> If you register with our app we collect the your name and email. when you post we ask for your phone number so that users can reach or contact you easily. We donot sell or share your information with anyone.</p>


<p>1. <b><b>Children’s Privacy</b></b></p>
<p>Our Services are not intended for use by children under the age of 18 (<b>“Child”</b> or <b>“Children”</b>).</p>
<p>We do not knowingly collect personally identifiable information from Children under 18. If you become aware that a Child has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from Children without verification of parental consent, we take steps to remove that information from our servers.</p>
<p>2. <b>Changes to This Privacy Policy</b></p>
<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
<p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update “effective date” at the top of this Privacy Policy.</p>
<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
<p>3. <b>Contact Us</b></p>
<p>If you have any questions about this Privacy Policy, please contact us by email: <b>tandinwangchuk.bhutan@gmail.com</b>.</p>
<p style="margin-top: 5em; font-size: 0.7em;"><b>@webdynobhutan.com | 2021</b></p>
